html,
body {
	height: 100%;
}

#root,
#app,
#main {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	display: flex;
	background-color: #f6f7eb;
}

.styleCard {
	margin: 0.5em;
	overflow: visible !important;
	box-shadow: none !important;
}

span.third {
	width: 33.3%;
	display: inline-block;
}
